
* {
    font-family: 'Rubik', sans-serif;
    color: black;
}
#body{
    background-color: rgb(177, 177, 177);
    
}
#breadcrumb{
    margin-top: 110px;
    margin-bottom: 10px;
}

#container{
background-color: rgb(255, 255, 255);
border-radius: 10px;
}


#first-row {
  
}

#profile-side {
 
    padding: 15px;
}

#profile-side-container {
    padding: 10px;

}

#profile-side-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-side-container h3 {
    text-align: center;
}

#statsside {
    
    padding: 15px;
}

#stat-container {
  
    padding: 10px;
}

#social-media-side {
    padding: 15px;
}

#social-media-side-container {
    padding: 10px;
}
#bio{
    text-align: justify;
}
