
  .hugeName_container{
    display: inline-block;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid black;
    
    animation: 
      typing 3s forwards;
    font-size: 1.6rem;
    width: 100%;
    font-size: 80px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }